.App {
  width: 350px;
  margin: auto;
  text-align: left;
  font-family: Arial;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: royalblue;
  border: none;
  color: white;
  cursor: pointer;
}

.output {
  background: #f4f4f4;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}
